{% extends "pages/layouts/_base.html" %}
{% load static %}

{% block title %}Inicio - Empresa{% endblock %}

{% block content %}
    <main>
        <div class="parraf">
            <section>
                <p>El avance tecnológico en Venezuela tiene su espina dorsal en el talento humano y una historia que se remonta a figuras pioneras. La llegada de la explotación petrolera en el siglo XX impulsó la modernización, pero fue el ingenio de científicos como Jacinto Convit (medicina) y Humberto Fernández Morán (microscopía) lo que marcó el verdadero potencial. Recientemente, proyectos como el lanzamiento de los satélites Simón Bolívar y Miranda han demostrado la ambición del país por expandir la conectividad y la teleeducación, integrando a la nación en la era digital y espacial.</p>
            </section>
        </div>

        <div class="parraf">
            <section>
                <p>El verdadero motor del desarrollo venezolano reside en su capital humano, un recurso inagotable forjado en instituciones como el IVIC y las universidades. A pesar de los retos, esta masa crítica de profesionales mantiene una notable capacidad de innovación y resiliencia. De hecho, el talento venezolano es reconocido a nivel internacional, con ingenieros y especialistas ocupando posiciones influyentes en la industria tecnológica global. Este valioso know-how asegura un futuro lleno de posibilidades.</p>
            </section>
        </div>

        <div class="parraf">
            <section>
                <p>Actualmente, Venezuela se concentra en potenciar la soberanía tecnológica y las soluciones endógenas. Iniciativas como el proyecto Canaima buscan democratizar el acceso al conocimiento digital. Además, la rápida adaptación y el desarrollo de tecnologías financieras como la billetera electrónica local muestran una gran capacidad de adaptación y búsqueda de vías de desarrollo propias. Esta resiliencia, combinada con el ingenio nacional, es la garantía del progreso tecnológico futuro de la nación</p>
            </section>
        </div>
    </main>
{% endblock %}